/* ----------------------- */
/* ---FOOTER */
/* ----------------------- */

.footerContainer {
  background-color: black;
  height: 209px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 80px;
}
.footerContainerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

footer .logo img {
  width: 122px;
  height: 39px;
}

footer p {
  color: white;
  text-wrap: balance;
  text-align: center;
}
